body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

.nav-item a {
    background-color: rgba(0, 255, 0, 0.511);
    font-size: 15px;
    font-weight: 600;
}

.nav-item a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    background-image: none;
}

.nav-item {
    margin: 2px;
}

button {
    padding: 1 !important;
    margin: 10px !important;
}

i {
    font-size: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.timeBlock {
    background-color: rgba(150, 247, 131, 0.818);
    margin-bottom: 20px !important;
    min-height: 200px !important;
}

.timeBox {
    min-width: 5%;
    border-right: solid black 2px;
    background-color: rgb(150, 247, 131);

}

.tasks {
    width: 50%;
}