body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

.nav-item a {
    background-color: rgba(0, 255, 0, 0.511);
    font-size: 15px;
    font-weight: 600;
}

.nav-item a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    background-image: none;
}

.nav-item {
    margin: 2px;
}